<h1>Edit member</h1>
<form action="/members/<%= @member.id %>" method="post">
  <input type="hidden" name="_method" value="put" />

  <label for="post_title">NOM:</label><br />
  <input id="post_title" name="member[nom]" type="text" value="<%= @member.nom %>" />
  <br />

  <label for="post_body">Prenom:</label><br />
  <textarea id="post_body" name="member[prenom]" rows="5"><%= @member.prenom %></textarea>
  <br />

  <input type="submit" value="Edit Members" />
</form>
