<form action="/new_member" method="post">
	<p>
		<label>
			Nom:
			<input type="text" name="nom" required />
		</label>
	</p>

	<p>
		<label>
			Pr&eacute;nom:
			<input type="text" name="prenom" required />
		</label>
	</p>

	<p>
		<label>
			Adresse:
			<input type="text" name="adresse" required />
		</label>
	</p>

	<p>
		<label>
			Courriel:
			<input type="email" name="email" required />
		</label>
	</p>

	<p>
		<label>
			T&eacute;l:
			<input type="tel" name="tel"  />
		</label>
	</p>

	<p>
		<input type="submit" />
	</p>
</form>